<h1>Scrabble Score Calculator</h1>
<form action="/score">
  <div class="form-group">
     <label for="word">Enter a word to see its scrabble score</label>
     <input id="word" name="word" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-success">Calculate</button>
</form>
